.leftbutton {
    margin-right: 10px;
}

.buttonposalji {
    margin-top: 10px;
}

.slika {
    text-align: center;
    margin-bottom: 10px;
}

.buttonmarginbottom {
    margin-bottom: 10px;
}

.paragraf {
    margin-top: 10px;
}