<br><br>
<div class="container" *ngIf="show">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div *ngIf="showRomobil">
                            <div class="slika">
                                <img [src]="romobil.urlTrenutnaSlika" height="200" width="200">
                            </div>

                            <div *ngIf="romobil.izmijenjenaSlika">
                                <p class="paragraf">Slika Vašeg romobila je izmijenjena, prihvaćate li izmjenu?</p>
                                <button type="button" (click)="onPrihvatiIzmjenu()"
                                    class="btn btn-success leftbutton buttonmarginbottom">Prihvaćam</button>
                                <button type="button" (click)="onOdbijIzmjenu()" class="btn btn-danger buttonmarginbottom">Ne, prijava
                                    adminu</button>
                            </div>


                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                                    Trenutna lokacija: {{romobil.currentLocation}}</li>
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                                    Lokacija vraćanja: {{romobil.returnLocation}}</li>
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">date_range</mat-icon>
                                    Datum vraćanja: {{romobil.dateReturn | date:'dd/MM/y HH:mm':'UTC' }}</li>
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">money_off</mat-icon>
                                    Kazna: {{romobil.penalty}} kn</li>
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>
                                    <label style="font-weight:bold;">Cijena po KM:
                                        {{romobil.priceKm}} kn</label></li>
                            </ul>

                        </div>
                        <div *ngIf="showHasIznajmi">
                            <div *ngIf="iznajmi.klijentAccept">
                                <button (click)="onPotvrdi()" type="button" class="btn btn-success leftbutton">Prihvati
                                    zahtjev</button>
                                <button (click)="onOdustani()" type="button" class="btn btn-danger">Odbij
                                    zahtjev</button>
                            </div>
                        </div>
                    </div>

                    <h2 *ngIf="!showHasIznajmi">Nemate zahtjev za iznajmljivanje</h2>

                    <div class="row" *ngIf="showHasIznajmi">

                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="poruke-tab" data-toggle="tab" href="#poruke"
                                        role="tab" aria-controls="poruke" aria-selected="true">Poruke</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab"
                                        aria-controls="info" aria-selected="false">Dodatne informacije o klijentu</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="poruke" role="tabpanel"
                                    aria-labelledby="poruke-tab">



                                    <div class="container" *ngFor="let poruka of poruke">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">{{poruka.posiljatelj.username}}:
                                                </label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{poruka.poruka}}
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    <textarea class="form-control" placeholder="Napišite poruku" rows="2"
                                        #msg></textarea>
                                    <button (click)="sendMsg(msg.value)" type="button"
                                        class="btn btn-primary btn-sm buttonposalji">Pošalji</button>

                                </div>


                                <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">

                                    <div class="card-title mb-4">
                                        <div class="d-flex justify-content-start">
                                            <h3>Prosječna ocjena klijenta: {{prosjecnaOcjena}}</h3>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Korisničko ime</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{iznajmi.klijent.username}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div *ngIf="!iznajmi.klijent.namePrivate">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Ime</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{iznajmi.klijent.name}}
                                            </div>

                                        </div>
                                        <hr />
                                    </div>

                                    <div *ngIf="!iznajmi.klijent.surnamePrivate">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Prezime</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{iznajmi.klijent.surname}}
                                            </div>

                                        </div>
                                        <hr />
                                    </div>

                                    <div *ngIf="!iznajmi.klijent.cardNumberPrivate">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Broj kartice</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{iznajmi.klijent.cardNumber}}
                                            </div>

                                        </div>
                                        <hr />
                                    </div>

                                    <div *ngIf="!iznajmi.klijent.emailAdressPrivate">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email adresa</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{iznajmi.klijent.emailAdress}}
                                            </div>

                                        </div>
                                        <hr />
                                    </div>

                                    <div *ngIf="!iznajmi.klijent.osobnaPrivate">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Slika osobne</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <img class="rounded mx-auto d-block"
                                                    [src]="iznajmi.klijent.urlOsobna"
                                                    style="width:200px;height:200px;">
                                            </div>

                                        </div>
                                        <hr />
                                    </div>

                                    <div *ngIf="!iznajmi.klijent.potvrdaNekaznaPrivate">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Slika potvrde o nekažnjavanju</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <img class="rounded mx-auto d-block"
                                                    [src]="iznajmi.klijent.urlPotvrdaNekazna"
                                                    style="width:200px;height:200px;">
                                            </div>

                                        </div>
                                        <hr />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<div class="center">
    <div *ngIf="!show" class="loading"></div>
</div>