<br><br>
<div *ngIf="show">
    <div *ngIf="!showHasIznajmi">
        <h2>Nemate ponudu za iznajmljivanje</h2>
    </div>

    <div *ngIf="showHasIznajmi" class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <h2>Moja ponuda</h2>
                            </div>
                            <div *ngIf="!izmijenjenaSlika">
                                <img [src]="iznajmi.romobil.urlTrenutnaSlika" height="200" width="200">
                            </div>
                            <div *ngIf="izmijenjenaSlika">
                                <img *ngFor='let url of urls' [src]="url" height="200" width="200">
                            </div>
                            <p>Slika ne odgovara stanju? Zamijeni sliku:</p>
                            <textarea class="form-control" placeholder="Napišite što je drugačije na slici" rows="2"
                                #input></textarea>
                            <button (click)="onZamjenaSlike(input.value)" type="button"
                                class="btn btn-primary btn-sm buttonmojaponuda buttonponuda">Potvrdi izmjenu
                                slike</button>

                            <input type="file" id="potvrda" (change)="onFileSelected($event)">


                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                                    Trenutna lokacija: {{iznajmi.romobil.currentLocation}}</li>
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                                    Lokacija vraćanja: {{iznajmi.romobil.returnLocation}}</li>
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">date_range</mat-icon>
                                    Datum vraćanja: {{iznajmi.romobil.dateReturn | date:'dd/MM/y HH:mm':'UTC' }}</li>
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">money_off</mat-icon>
                                    Kazna: {{iznajmi.romobil.penalty}} kn</li>
                                <li class="list-group-item">
                                    <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>
                                    <label style="font-weight:bold;">Cijena po KM:
                                        {{iznajmi.romobil.priceKm}} kn</label></li>
                            </ul>
                            <button *ngIf="!iznajmi.klijentAccept" (click)="onPotvrdi()" type="button"
                                class="btn btn-primary btn-lg buttonmojaponuda">Potvrdi iznajmljivanje</button>
                            <button *ngIf="iznajmi.klijentAccept" (click)="onOdustani()" type="button"
                                class="btn btn-danger buttonmojaponuda">Odustani od iznajmljivanja</button>

                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="poruke-tab" data-toggle="tab" href="#poruke"
                                            role="tab" aria-controls="poruke" aria-selected="true">Poruke</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab"
                                            aria-controls="info" aria-selected="false">Dodatne informacije o
                                            vlasniku</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="poruke" role="tabpanel"
                                        aria-labelledby="poruke-tab">



                                        <div class="container" *ngFor="let poruka of poruke">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">{{poruka.posiljatelj.username}}:
                                                    </label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{poruka.poruka}}
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                        <textarea class="form-control" placeholder="Napišite poruku" rows="2"
                                            #msg></textarea>
                                        <button (click)="sendMsg(msg.value)" type="button"
                                            class="btn btn-primary btn-sm buttonmojaponuda">Pošalji</button>

                                    </div>


                                    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">

                                        <div class="card-title mb-4">
                                            <div class="d-flex justify-content-start">
                                                <h3>Prosječna ocjena kao klijenta: {{prosjecnaOcjena}}</h3>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Korisničko ime</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{iznajmi.romobil.owner.username}}
                                            </div>
                                        </div>
                                        <hr />

                                        <div *ngIf="!iznajmi.romobil.owner.namePrivate">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Ime</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{iznajmi.romobil.owner.name}}
                                                </div>

                                            </div>
                                            <hr />
                                        </div>

                                        <div *ngIf="!iznajmi.romobil.owner.surnamePrivate">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Prezime</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{iznajmi.romobil.owner.surname}}
                                                </div>

                                            </div>
                                            <hr />
                                        </div>

                                        <div *ngIf="!iznajmi.romobil.owner.cardNumberPrivate">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Broj kartice</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{iznajmi.romobil.owner.cardNumber}}
                                                </div>

                                            </div>
                                            <hr />
                                        </div>

                                        <div *ngIf="!iznajmi.romobil.owner.emailAdressPrivate">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Email adresa</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    {{iznajmi.romobil.owner.emailAdress}}
                                                </div>

                                            </div>
                                            <hr />
                                        </div>

                                        <div *ngIf="!iznajmi.romobil.owner.osobnaPrivate">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Slika osobne</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <img class="rounded mx-auto d-block"
                                                        [src]="iznajmi.romobil.owner.urlOsobna"
                                                        style="width:200px;height:200px;">
                                                </div>

                                            </div>
                                            <hr />
                                        </div>

                                        <div *ngIf="!iznajmi.romobil.owner.potvrdaNekaznaPrivate">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Slika potvrde o
                                                        nekažnjavanju</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <img class="rounded mx-auto d-block"
                                                        [src]="iznajmi.romobil.owner.urlPotvrdaNekazna"
                                                        style="width:200px;height:200px;">
                                                </div>

                                            </div>
                                            <hr />
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="center">
    <div *ngIf="!show" class="loading"></div>
</div>