<br><br>
    <div *ngIf="show" class="card">
        <img class="card-img-top cardimage" [src]="romobil.urlTrenutnaSlika"  style="width:600px;height:400px;">
        <hr />
        <div class="card-body">
            <p><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                Trenutna lokacija: {{romobil.currentLocation}}</p>
            <p><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                Lokacija vraćanja: {{romobil.returnLocation}}</p>
            <p><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">date_range</mat-icon>
                Datum vraćanja: {{romobil.dateReturn | date:'dd/MM/y HH:mm':'UTC' }}</p>
            <p><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">money_off</mat-icon>
                Kazna: {{romobil.penalty}} kn</p>
            <h3>Cijena po KM: {{romobil.priceKm}} kn</h3>


            <div class="form-group" *ngIf="authService.isUserLoggedIn() && romobil.owner.username != authService.getLoggedInUser().username">
                <textarea class="form-control" placeholder="Trebate dodatne informacije? Pitajte vlasnika" rows="3"
                    #input></textarea>
                <button (click)="onSubmit(input.value)" type="button"
                    class="btn btn-primary buttonponuda">Iznajmi</button>
            </div>

            
            <div *ngIf="authService.isUserLoggedIn() && romobil.owner.username === authService.getLoggedInUser().username ">
                <button type="button" class="btn btn-primary buttonponuda" routerLink="/iznajmi"
                routerLinkActive="active">Ažurirajte svoj romobil    
                </button>
            </div>

            <p class="text-center" *ngIf="!authService.isUserLoggedIn()">Želite iznajmiti? <a routerLink="/login"
                    routerLinkActive="active">Prijavite se</a> </p>
        </div>

    </div>