<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">

                            <h2>Moj profil</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                        role="tab" aria-controls="basicInfo" aria-selected="true">Općenito</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="reputation-tab" data-toggle="tab" href="#reputation"
                                        role="tab" aria-controls="reputation" aria-selected="false">Reputacija</a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                    aria-labelledby="basicInfo-tab">


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Korisničko ime</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{user.username}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Ime</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{user.name}}
                                        </div>
                                    </div>
                                    <hr />


                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Prezime</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{user.surname}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Broj kartice</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{user.cardNumber}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email adresa</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{user.emailAdress}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Slika osobne</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <img class="rounded mx-auto d-block" [src]="user.urlOsobna"
                                                style="width:200px;height:200px;">
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Slika potvrde o nekažnjavanju</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            <img class="rounded mx-auto d-block" [src]="user.urlPotvrdaNekazna"
                                                style="width:200px;height:200px;">
                                        </div>
                                    </div>
                                    <hr />

                                </div>
                                <div class="tab-pane fade" id="reputation" role="tabpanel"
                                    aria-labelledby="reputation-tab">
                                    <div class="card-title mb-4">
                                        <div class="d-flex justify-content-start">
                                            <h3>Prosječna ocjena: {{prosjecnaOcjena}}</h3>
                                        </div>
                                    </div>
                                    <hr />

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%">Ocjenjivač</th>
                                                <th style="width: 60%">Komentar</th>
                                                <th style="width: 20%">Ocjena</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ok of ocjenaKomm">
                                                <td scope="col" style="width: 20%">
                                                    <label>{{ok.ocjenivac.username}}</label>
                                                </td>
                                                <td scope="col" style="width: 60%">
                                                    <label>{{ok.komentar}}</label>
                                                </td>
                                                <td scope="col" style="width: 20%">{{ok.ocjena}}</td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>