<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Registrirajte se!</h4>
        <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onRegister(v)" #v="ngForm" role="form">
            <div class="form-group input-group">
                <input type="text" placeholder="Ime" ngModel id="ime" formControlName="ime" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.ime.errors }" />
                <div *ngIf="submitted && f.ime.errors" class="invalid-feedback">
                    <div *ngIf="f.ime.errors.required">Ime je obavezno</div>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="text" placeholder="Prezime" ngModel id="prezime" formControlName="prezime"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prezime.errors }" />
                <div *ngIf="submitted && f.prezime.errors" class="invalid-feedback">
                    <div *ngIf="f.prezime.errors.required">Prezime je obavezno</div>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="text" placeholder="Username" ngModel id="username" formControlName="username"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username je obavezan</div>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="text" placeholder="Email" ngModel id="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email je obavezan</div>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="text" placeholder="Broj kartice" ngModel id="broj_kartice" formControlName="broj_kartice"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.broj_kartice.errors }" />
                <div *ngIf="submitted && f.broj_kartice.errors" class="invalid-feedback">
                    <div *ngIf="f.broj_kartice.errors.required">Broj kartice je obavezan</div>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="text" placeholder="Lozinka" ngModel id="lozinka" type="password" formControlName="lozinka"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lozinka.errors }" />
                <div *ngIf="submitted && f.lozinka.errors" class="invalid-feedback">
                    <div *ngIf="f.lozinka.errors.required">Lozinka je obavezna</div>
                    <div *ngIf="f.lozinka.errors.minlength">Lozinka mora biti duga barem 6 znakova</div>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="text" placeholder="Potvrdi lozinku" ngModel id="potvrdi_lozinku" type="password"
                    formControlName="potvrdi_lozinku" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.potvrdi_lozinku.errors }" />
                <div *ngIf="submitted && f.potvrdi_lozinku.errors" class="invalid-feedback">
                    <div *ngIf="f.potvrdi_lozinku.errors.required">Obavezno je potvrditi lozinku</div>
                    <div *ngIf="f.potvrdi_lozinku.errors.mustMatch">Lozinke se moraju podudarati</div>
                </div>
            </div>
            <div>
                <p>Učitajte sliku osobne i potvrdu o nekažnjavanju:</p>
            </div>
            <div class="form-group input-group">
                <div style="margin-bottom: 20px;">
                    <input type="file" id="potvrda" (change)="onFileSelected($event)" multiple formControlName="potvrda"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.potvrda.errors }">
                    <div *ngIf="submitted && f.potvrda.errors" class="invalid-feedback">
                        <div *ngIf="f.potvrda.errors.required">Obavezno je ucitati slike</div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 70px;">
                <img *ngFor='let url of urls' [src]="url" height="150" width="200" style="margin-bottom: 5px;"> <br />
            </div>
            <div *ngIf="pictureError" class="alert alert-danger">Trebate priložiti 2 slike</div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Registracija </button>
            </div>
            <p class="text-center">Već imate račun? <a routerLink="/login" routerLinkActive="active">Login</a> </p>
        </form>
    </article>
</div>