<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Login!</h4>
        <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="handleLogin(v)" #v="ngForm" role="form">
            <div class="form-group input-group">
                <input type="text" placeholder="Username" ngModel id="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username je obavezan</div>
                </div>
            </div>
            <div class="form-group input-group">
                <input type="text" placeholder="Lozinka" ngModel id="lozinka" type="password" formControlName="lozinka" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lozinka.errors }" />
                <div *ngIf="submitted && f.lozinka.errors" class="invalid-feedback">
                    <div *ngIf="f.lozinka.errors.required">Lozinka je obavezna</div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login </button>
            </div>
            <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
            <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
            <p class="text-center">Nemate račun? <a routerLink="/register" routerLinkActive="active">Registracija</a> </p>
        </form>
    </article>
</div>


