<div class="card">
    <h5 class="card-header">Upravljanje profilima</h5>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10%">Korisničko ime</th>
                    <th style="width: 10%">Email adresa</th>
                    <th style="width: 10%">Broj kartice</th>
                    <th style="width: 30%">Slika potvrde</th>
                    <th style="width: 30%">Slika osobne</th>
                    <div align="center">
                        <th style="width: 10%">Aktivan</th>
                    </div>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td scope="col" style="width: 10%">{{user.username}}</td>
                    <td scope="col" style="width: 10%">{{user.emailAdress}}</td>
                    <td scope="col" style="width: 10%">{{user.cardNumber}}</td>
                    <td scope="col" style="width: 30%"><img class="rounded mx-auto d-block"
                            [src]="user.urlPotvrdaNekazna" style="width:100px;height:100px;"></td>
                    <td scope="col" style="width: 30%"><img class="rounded mx-auto d-block" [src]="user.urlOsobna"
                            style="width:100px;height:100px;"></td>

                    <td scope="col" style="width: 10%">
                        <div align="center">
                            <input type="checkbox" (click)="change($event)" [id]="user.id" [checked]="user.active">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button (click)="onSpremi()" type="button" class="btn btn-primary btn-lg btn-block">Spremi</button>
        <button (click)="deactivateAll()" type="button" class="btn btn-secondary btn-lg btn-block">Deaktiviraj sve
        </button>
    </div>
</div>