<br><br>
<div *ngIf="show">
    <div *ngIf="hasRomobil">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Ažuriraj svoj romobil i postavi ponovno u ponudu!</h4>
                <form class="form-horizontal" [formGroup]="azurirajForm" (ngSubmit)="onUpdateRomobil(u)" #u="ngForm"
                    role="form">
                    <div class="form-group input-group">
                        <input name="currentLocation" class="form-control" ngModel id="currentLocation"
                            placeholder="Trenutna lokacija" type="text" formControlName="currentLocation"
                            [(ngModel)]="romobil.currentLocation"
                            [ngClass]="{ 'is-invalid': submitted && a.currentLocation.errors }">
                        <div *ngIf="submitted && a.currentLocation.errors" class="invalid-feedback">
                            <div *ngIf="a.currentLocation.errors.required">Trenutna lokacija je obavezna</div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input name="returnLocation" class="form-control" ngModel id="returnLocation"
                            placeholder="Lokacija povrata romobila" type="text" formControlName="returnLocation"
                            [(ngModel)]="romobil.returnLocation"
                            [ngClass]="{ 'is-invalid': submitted && a.returnLocation.errors }">
                        <div *ngIf="submitted && a.returnLocation.errors" class="invalid-feedback">
                            <div *ngIf="a.returnLocation.errors.required">Povratna lokacija je obavezna</div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input name="dateReturn" class="form-control" ngModel id="dateReturn"
                            placeholder="Vremenski rok povrata romobila" type="datetime-local"
                            formControlName="dateReturn" [(ngModel)]="romobil.dateReturn"
                            [ngClass]="{ 'is-invalid': submitted && a.dateReturn.errors }">
                        <div *ngIf="submitted && a.dateReturn.errors" class="invalid-feedback">
                            <div *ngIf="a.dateReturn.errors.required">Datum vraćanja je obavezan</div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input name="priceKM" class="form-control" ngModel id="priceKM"
                            placeholder="Cijena po prijeđenom kilometru" type="number" min="1" formControlName="priceKM"
                            [(ngModel)]="romobil.priceKm" [(ngModel)]="romobil.priceKm"
                            [ngClass]="{ 'is-invalid': submitted && a.priceKM.errors }">
                        <div *ngIf="submitted && a.priceKM.errors" class="invalid-feedback">
                            <div *ngIf="a.priceKM.errors.required">Cijena po kilometru je obavezna</div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input name="penalty" class="form-control" ngModel id="penalty"
                            placeholder="Kazna za nepridržavanje rokova" type="number" min="1" formControlName="penalty"
                            [(ngModel)]="romobil.penalty" [ngClass]="{ 'is-invalid': submitted && a.penalty.errors }">
                        <div *ngIf="submitted && a.penalty.errors" class="invalid-feedback">
                            <div *ngIf="a.penalty.errors.required">Kazna u slučaju kašnjenja je obavezna</div>
                        </div>
                    </div>
                    <div>
                        <p>Slika trenutnog stanja romobila:</p>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input type="file" id="potvrda" (change)="onFileSelected($event)">
                    </div>
                    <div style="text-align: center;" *ngIf="!izmijenjenaSlika">
                        <img [src]="romobil.urlTrenutnaSlika" height="150" width="200" style="margin-bottom: 5px;">
                    </div>
                    <div style="text-align: center;" *ngIf="izmijenjenaSlika">
                        <img *ngFor='let url of urls' [src]="url" height="150" width="200" style="margin-bottom: 5px;">
                        <br />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block buttonzavrsi"> Završi </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
    <div *ngIf="!hasRomobil">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Unesite Vaš romobil!</h4>
                <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onUnesiRomobil(r)" #r="ngForm"
                    role="form">
                    <div class="form-group input-group">
                        <input name="currentLocation" class="form-control" ngModel id="currentLocation"
                            placeholder="Trenutna lokacija" type="text" formControlName="currentLocation"
                            [ngClass]="{ 'is-invalid': submitted && f.currentLocation.errors }">
                        <div *ngIf="submitted && f.currentLocation.errors" class="invalid-feedback">
                            <div *ngIf="f.currentLocation.errors.required">Trenutna lokacija je obavezna</div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input name="returnLocation" class="form-control" ngModel id="returnLocation"
                            placeholder="Lokacija povrata romobila" type="text" formControlName="returnLocation"
                            [ngClass]="{ 'is-invalid': submitted && f.returnLocation.errors }">
                        <div *ngIf="submitted && f.returnLocation.errors" class="invalid-feedback">
                            <div *ngIf="f.returnLocation.errors.required">Povratna lokacija je obavezna</div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input name="dateReturn" class="form-control" ngModel id="dateReturn"
                            placeholder="Vremenski rok povrata romobila" type="datetime-local"
                            formControlName="dateReturn" [ngClass]="{ 'is-invalid': submitted && f.dateReturn.errors }">
                        <div *ngIf="submitted && f.dateReturn.errors" class="invalid-feedback">
                            <div *ngIf="f.dateReturn.errors.required">Datum vraćanja je obavezan</div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input name="priceKM" class="form-control" ngModel id="priceKM"
                            placeholder="Cijena po prijeđenom kilometru" type="number" min="1" formControlName="priceKM"
                            [ngClass]="{ 'is-invalid': submitted && f.priceKM.errors }">
                        <div *ngIf="submitted && f.priceKM.errors" class="invalid-feedback">
                            <div *ngIf="f.priceKM.errors.required">Cijena po kilometru je obavezna</div>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <input name="penalty" class="form-control" ngModel id="penalty"
                            placeholder="Kazna za nepridržavanje rokova" type="number" min="1" formControlName="penalty"
                            [ngClass]="{ 'is-invalid': submitted && f.penalty.errors }">
                        <div *ngIf="submitted && f.penalty.errors" class="invalid-feedback">
                            <div *ngIf="f.penalty.errors.required">Kazna u slučaju kašnjenja je obavezna</div>
                        </div>
                    </div>
                    <div>
                        <p>Učitajte sliku trenutnog stanja romobila:</p>
                        <div *ngIf="submitted && pictureError" class="alert alert-danger">Niste priložili sliku</div>
                    </div>
                    <div style="margin-bottom: 20px;">
                        <input type="file" id="potvrda" (change)="onFileSelected($event)">
                    </div>
                    <div style="text-align: center;">
                        <img *ngFor='let url of urls' [src]="url" height="150" width="200" style="margin-bottom: 5px;">
                        <br />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Završi </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>

<div class="center">
    <div *ngIf="!show" class="loading"></div>
</div>

