<div class="wrapper">
    <nav id="sidebar" [ngClass]="{'active' : isActive}">
        <div class="sidebar-header">
            <h3>Usluge iznajmljivanja romobila</h3>
        </div>

        <ul class="list-unstyled components" id="lista-iznajmi">
            <li class="list-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./mojprofil">Moj profil</a>
            </li>
            <li class="list-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./obavijesti">Obavijesti</a>
            </li>
            <li class="list-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./postavke-privatnosti">Postavke privatnosti</a>
            </li>
            <li class="list-item" routerLinkActive="active">
                <a class="nav-link" routerLink="./transakcije">Transakcije</a>
            </li>
        </ul>
    </nav>
    <div id="toggle">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
    
                <button type="button" id="sidebarCollapse" (click)="toggleSidebar()" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>
    
            </div>
        </nav>
    </div>
    <div id="content" style="width: 50%; margin: 0 auto;">
        <br><br>
        <router-outlet></router-outlet>
    </div>        
</div>
