<div class="card">
    <h5 class="card-header">Upravljanje zamjenom slika</h5>
    <div class="card-body">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10%">Inicijator prijave</th>
                    <th style="width: 10%">Inicijator zamjene</th>
                    <th style="width: 10%">Komentar zamjene</th>
                    <th style="width: 25%">Prethodna slika</th>
                    <th style="width: 25%">Zamijenjena slika</th>
                    <div align="center">
                        <th style="width: 20%">Prihvati/Odbij prijavu</th>
                    </div>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let zamjena of zamjene">
                    <td scope="col" style="width: 10%">{{zamjena.romobil.owner.username}}</td>
                    <td scope="col" style="width: 10%">{{zamjena.inicijator.username}}</td>
                    <td scope="col" style="width: 10%">{{zamjena.komentar}}</td>
                    <td scope="col" style="width: 30%"><img class="rounded mx-auto d-block"
                            [src]="zamjena.romobil.urlPocetnaSlika" style="width:100px;height:100px;"></td>
                    <td scope="col" style="width: 30%"><img class="rounded mx-auto d-block"
                            [src]="zamjena.urlZamjenjenaSlika" style="width:100px;height:100px;"></td>

                    <td scope="col" style="width: 20%">
                        <div align="center">
                            <button (click)="onPrihvati(zamjena)" type="button" class="btn btn-success"></button>
                            <span>|</span>
                            <button (click)="onOdbij(zamjena)" type="button" class="btn btn-danger"></button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>


    </div>
</div>