<br><br>
<h2>Broj neocijenjenih klijenata: {{neocijenjeni}}</h2>
<hr />
<div class="form-group" *ngFor="let ocjenakomentar of ocjenaKomentari">
    <b>
        <p>{{ocjenakomentar.klijent.username}}</p>
    </b>
    <select #selected>
        <option value="" selected disabled hidden>Ocijeni klijenta</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <textarea class="form-control area" placeholder="Komentar" rows="2" #input></textarea>
    <button (click)="onSubmit(input.value, selected.value, ocjenakomentar)" type="button"
        class="btn btn-primary buttonocijeni">Ocijeni</button>
    <hr />
</div>