<div class="jumbotron" style="margin-bottom: 0px;">
    <h1>Iznajmi romobil</h1>
    <p>Stignite brže do svojeg odredišta!</p>
</div>
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" routerLink='/ponude' routerLinkActive="active">Iznajmi romobil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navb" aria-controls="navb"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/ponude" routerLinkActive="active">Ponude</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/iznajmi" routerLinkActive="active">Iznajmi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/profil" routerLinkActive="active">Profil</a>
            </li>
            <li class="nav-item" *ngIf="authService.isUserLoggedIn()">
                <a *ngIf="authService.getLoggedInUser().role === 'ADMIN'" class="nav-link" routerLink="/profil-admin"
                    routerLinkActive="active">Profil Admin</a>
            </li>

            <li class="nav-item" *ngIf="authService.isUserLoggedIn()">
                <a *ngIf="authService.getLoggedInUser().role === 'ADMIN'" class="nav-link" routerLink="/iznajmi-admin"
                    routerLinkActive="active">Zamjene slika Admin</a>
            </li>


        </ul>
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav ml-auto">
            <li>
                <div *ngIf="authService.isUserLoggedIn()"
                    class="dropdown nav-button notifications-button hidden-sm-down">

                    <a class="btn btn-secondary" routerLink="/profil/obavijesti" routerLinkActive="active"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i>Obavijesti </i>
                        <span id="notificationsBadge" class="badge badge-danger"><span
                                *ngIf="obavijestService.getNeprocitane() != -1">
                                {{obavijestService.getNeprocitane()}}
                            </span>
                        </span>
                    </a>
                </div>

            </li>
            <li class="nav-item" *ngIf="!authService.isUserLoggedIn()">
                <a class="nav-link" routerLink="/register" routerLinkActive="active"><span
                        class="fas fa-sign-in-alt"></span>
                    Registracija </a>
            </li>
            <li class="nav-item" *ngIf="!authService.isUserLoggedIn()">
                <a class="nav-link" routerLink="/login" routerLinkActive="active"><span
                        class="fas fa-sign-in-alt"></span> Login
                </a>
            </li>
            <li class="nav-item" *ngIf="authService.isUserLoggedIn()">
                <a (click)="logout()" class="nav-link"><span class="fas fa-sign-in-alt" onclick="logout()"></span>
                    Logout </a>
            </li>
        </ul>
    </div>
</nav>
<alert></alert>
<router-outlet></router-outlet>