.center {
    margin: auto;
    text-align: center;
    height: 100px;
}
/*
.results {
    height: 900px;
}
*/

.card {
    margin-bottom: 50px;
    border: 15px;
    border-color: rgb(216, 204, 204);
}

.icon {
    margin: auto;
    text-align: center;
    position: relative;
    top: 5px;
}

.list-group-item {
    padding-left: 5px;
    padding-right: 5px;
}


