<br><br>
<div class="container">
    <div class="row text-center results">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6"
            *ngFor="let romobil of romobili | paginate: { itemsPerPage: 4, currentPage: p }">
            <div class="card">
                <a [routerLink]="['../ponuda', romobil.id]">
                    <img class="img-thumbnail rounded mx-auto d-block" [src]="romobil.urlTrenutnaSlika"
                        style="width:400px;height:300px;">
                </a>
                <ul class="list-group">
                    <li class="list-group-item">
                        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                        Trenutna lokacija: {{romobil.currentLocation}}</li>
                    <li class="list-group-item">
                        <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">room</mat-icon>
                        Lokacija vraćanja: {{romobil.returnLocation}}</li>
                </ul>
                <h1>Cijena po KM: {{romobil.priceKm}} kn</h1>
            </div>
        </div>
        <!-- izgled poboljsati, neki okvir za svaku ponudu...  -->
    </div>
</div>
<div class="center">
    <pagination-controls style="align-content: center" class="myPagination" (pageChange)="p = $event">
    </pagination-controls>
</div>