<div class="card-body">
    <div class="card-title mb-4">
        <div class="d-flex justify-content-start">
            <h2>Broj nepročitanih obavijesti: {{unreadMsg}}</h2>
        </div>
    </div>
</div>

<div *ngIf="show">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 85%">Obavijest</th>
                <div align="center">
                    <th style="width: 15%">Pročitano</th>
                </div>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obavijest of obavijesti">
                <td scope="col" style="width: 85%">{{obavijest.tekst}}</td>
                <td scope="col" style="width: 15%">
                    <div align="center">
                        <input type="checkbox" (click)="change($event)" [id]="obavijest.id" [checked]="obavijest.read">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="onSpremi()" type="button" class="btn btn-primary btn-lg btn-block">Spremi</button>
    <button (click)="markAllAsRead()" type="button" class="btn btn-secondary btn-lg btn-block">Označi sve
        pročitano</button>
</div>

