<div class="card-body">
    <div class="card-title mb-4">
        <div class="d-flex justify-content-start">
            <h2>Povijest mojih transakcija</h2>
        </div>
    </div>
</div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width: 40%">Unajmljivač</th>
                <th style="width: 40%">Iznajmljivač</th>
                <th style="width: 20%">Iznos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transakcija of transakcije">
                <td scope="col" style="width: 40%">
                    <div *ngIf="transakcija.unajmljivac.username != authService.getLoggedInUser().username">
                        {{transakcija.unajmljivac.username}}</div>
                    <label *ngIf="transakcija.unajmljivac.username === authService.getLoggedInUser().username"
                        style="font-weight:bold;">{{transakcija.unajmljivac.username}}</label>
                </td>
                <td scope="col" style="width: 40%">
                    <div *ngIf="transakcija.iznajmljivac.username != authService.getLoggedInUser().username">
                        {{transakcija.iznajmljivac.username}}</div>
                    <label *ngIf="transakcija.iznajmljivac.username === authService.getLoggedInUser().username"
                        style="font-weight:bold;">{{transakcija.iznajmljivac.username}}</label>
                </td>
                <td scope="col" style="width: 20%">{{transakcija.iznos}}</td>
            </tr>
        </tbody>
    </table>
</div>