<div class="card-body">
    <div class="card-title mb-4">
        <div class="d-flex justify-content-start">
            <h2>Postavke privatnosti</h2>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 85%">Polje</th>
            <div align="center">
                <th style="width: 15%">Javno vidljivo</th>
            </div>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col" style="width: 85%">
                <div align="left"> Ime

                </div>
            </td>
            <td scope="col" style="width: 15%">
                <div align="center">
                    <input type="checkbox" (click)="change($event)" id="name" [checked]="!user.namePrivate">
                </div>
            </td>
        </tr>
        <tr>
            <td scope="col" style="width: 85%">
                <div align="left"> Prezime

                </div>
            </td>
            <td scope="col" style="width: 15%">
                <div align="center">
                    <input type="checkbox" (click)="change($event)" id="surname" [checked]="!user.surnamePrivate">
                </div>
            </td>
        </tr>
        <tr>
            <td scope="col" style="width: 85%">
                <div align="left"> Broj kartice

                </div>
            </td>
            <td scope="col" style="width: 15%">
                <div align="center">
                    <input type="checkbox" (click)="change($event)" id="cardNumber" [checked]="!user.cardNumberPrivate">
                </div>
            </td>
        </tr>
        <tr>
            <td scope="col" style="width: 85%">
                <div align="left"> Email adresa

                </div>
            </td>
            <td scope="col" style="width: 15%">
                <div align="center">
                    <input type="checkbox" (click)="change($event)" id="emailAdress" [checked]="!user.emailAdressPrivate">
                </div>
            </td>
        </tr>
        <tr>
            <td scope="col" style="width: 85%">
                <div align="left"> Slika osobne

                </div>
            </td>
            <td scope="col" style="width: 15%">
                <div align="center">
                    <input type="checkbox" (click)="change($event)" id="osobna" [checked]="!user.osobnaPrivate">
                </div>
            </td>
        </tr>
        <tr>
            <td scope="col" style="width: 85%">
                <div align="left"> Slika potvrde o nekažnjavanju

                </div>
            </td>
            <td scope="col" style="width: 15%">
                <div align="center">
                    <input type="checkbox" (click)="change($event)" id="potvrdaNekazna" [checked]="!user.potvrdaNekaznaPrivate">
                </div>
            </td>
        </tr>

    </tbody>
</table>
<button (click)="onSpremi()" type="button" class="btn btn-primary btn-lg btn-block">Spremi</button>